{% extends "parent/main.html" %}
{% load staticfiles %}

{% block title %}انجمن پایتون{% endblock %}
{% block body %}

<div class="container">
  {% if islogin %}
  <h1>لاگین کردی!</h1>
  {% else  %}
  <form>
     <!--<p> <div class="row"><img src="{% static 'images/python-logo.png' %}"></p> </div>-->
	 <br><br>
     <h4 style="font-size: 20px;"><br>{{titlepre}}</h4>
<br><br>

    <div class="row">
      <div class="col-half">

      </div>
        <a class="button-cc saa" style="font-size:20px;color:#1f4462; " href="/login">صفحه ورود به حساب</a>

  <Br><Br><Br>  <a class="button-cc saa" style="font-size:20px;color:#1f4462;" href="/register">صفحه ثبت نام</a>

  </form></div>
    </div>
  </form>
  {% endif %}
          <script  src="{% static 'register/js/index.js' %}"></script>




{% endblock %}
