<header class="main-header" role="banner">
            <div class="container">

                <h1 class="site-headline">
                    <a href="/"><img class="python-logo" src="/static/images/python-logo.png" alt="انجمن پایتون"></a>
                </h1>

                <div class="options-bar do-not-print">

                    
                    <form class="search-the-site" action="" method="get">
                        <fieldset title="Search Python.org">

                            <span aria-hidden="true" class="icon-search"></span>

                            <label class="screen-reader-text" for="id-search-field">جستجو در سایت</label>
                            <input id="id-search-field" name="q" role="textbox" class="search-field placeholder mainLoginInput " placeholder="جستجو در سایت" value="" tabindex="1" type="search">

                            <button type="submit" name="submit" id="submit" class="search-button" title="جستجو در سایت" tabindex="3" Style="font-family:vazir;">
                                جستجو
                            </button>

                            
                            <!--[if IE]><input type="text" style="display: none;" disabled="disabled" size="1" tabindex="4"><![endif]-->

            
              

                
                

             </div><!-- end .container -->
        </header>