<div id="top" class="top-bar do-not-print">

            <nav class="meta-navigation container" role="navigation">

                
                <div class="skip-link screen-reader-text">
                    <a href="#content" title="Skip to content">Skip to content</a>
                </div>

                
                <a id="close-python-network" class="jump-link" href="#python-network" aria-hidden="true">
                    <span aria-hidden="true" class="icon-arrow-down"><span>▼</span></span> بستن فهرست
                </a>

                

<ul class="menu" role="tree">
    
    <li class="python-meta current_branch selected">
        <a href="/" title="The Python Programming Language" class="current_branch selected">پرسش و پاسخ</a>
    </li>
    
    <li class="psf-meta ">
        <a href="/psf-landing/" title="The Python Software Foundation">آموزش متنی</a>
    </li>
    
    <li class="docs-meta ">
        <a href="https://docs.python.org" title="Python Documentation">امنیت</a>
    </li>
    
    <li class="pypi-meta ">
        <a href="https://pypi.python.org/" title="Python Package Index">دوره های آموزشی</a>
    </li>
    
    <li class="jobs-meta ">
        <a href="/jobs/" title="Python Job Board">مشاغل</a>
    </li>
    
    <li class="shop-meta ">
        <a href="/community/" title="Python Community">درباره سایت</a>
    </li>
    
</ul>


                <a id="python-network" class="jump-link" href="#top" aria-hidden="true">
                    <span aria-hidden="true" class="icon-arrow-up"><span>▲</span></span> باز کردن فهرست
                </a>

            </nav>

        </div>